<!DOCTYPE html>
<html>
  <head>
    <title>Spotify</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
    <nav>
      <%= link_to 'All Songs', songs_path  %>
      <%= link_to 'New Song', new_song_path %>
      |
      <%= link_to 'All Bands', bands_path %>
      <%= link_to 'New Band' , new_band_path %>
    </nav>
    <%= yield %>
  </div>
  </body>
</html>
