<!DOCTYPE html>
<html>
  <head>
    <title>BooksOnWallStreet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
        <nav>
            <a href="/homepage">To Home</a>
            
            <a href="/magic">To Magic 8-Ball</a>
            
            <a href="/rps">To Rock Paper Scissors</a>

            <a href="/secret">To Secret Number</a>
        </nav>
        <%= yield %>
    </div>    
  </body>
</html>