<h1>
    <%= @country["name"] %>
</h1>

<h2>
    Capital city: <em><%= @country["capital"] %></em>
</h2>

<% unless @country["capital"].nil? || @country["capital"].empty? %>
    <p>
       <strong>Population:</strong> <%= @country["population"] %> million
    </p>
<% end %>

<% unless @country["map"].nil? || @country["map"].empty? %>
    <img class="feature" src="<%= @country["map"] %>" alt="<%= @country["name"] %>">
<% end %>

<div class="controls">
    <a href="/countries/<%= @country["id"] %>/edit">Edit country</a>
    <a href="/countries/<%= @country["id"] %>/delete">Delete country</a>
</div>