<h1><%= @song.name %></h1>
<ul>
<li> Name: <%= link_to @song.name %></li>
<li> Artist: <%= @song.artist %></li>
<li> Genre: <%= @song.genre %></li>
<li> Rating: <%= @song.rating %></li>
<a href="<%= @song.embed %>">
<li> Listen Now! </li>
</a>


<ul>

<div class = "controls">
<%= link_to 'Edit Song', edit_song_path(@song) %>
<%= link_to 'Delete Song', @song, :method => 'delete' %>


</div>