<h1>Edit Ocean</h1>

<form action="<%= ocean_path(@ocean.id) %>" method="post">
    <label>
        Name:
        <input name="name" required value="<%= @ocean.name %>">
    </label>

    <label>
        Image:
        <input type="url" name="image" value="<%= @ocean.image %>">
    </label>

    <label>
        Temp:
        <input type="number" name="temp" value="<%= @ocean.temp %>">
    </label>

    <label>
        Depth:
        <input type="number" name="depth" value="<%= @ocean.depth %>">
    </label>

    <label>
        Islands:
        <input type="number" name="islands" value="<%= @ocean.islands %>">
    </label>
    <button> Update Ocean</button>
</form>