<!DOCTYPE html>
<html>
  <head>
    <title>Music</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
    <%= link_to 'All Artists', artists_path %>
    <%= link_to 'New Artist', new_artist_path %>
    |
    <%= link_to 'All Songs', songs_path %>
    <%= link_to 'New Song', new_song_path %>
    </nav>
    <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
