<h1>Edit Author</h1>
<form action="/authors/<%=@author["id"] %>" method="post">
    <label>
         Name
        <input name="name" required value="<%= @author["name"] %>">
   </label>
   <label>
         Image:
         <input type="url" name="image" value="<%= @author["image"] %>">
   </label>
    <label>
         Book Title:
         <input name="book name" value="<%= @book["name"] %>">
   </label>
    <label>
         Book Rating:
         <input name="book name" value="<%= @book["rating"] %>">
   </label>
   <label>
         Book Image:
         <input type="url" name="image" value="<%= @book["image"] %>">
   </label>
   <button>Update Author</button>
</form>