<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head')%>
<body>
    <%- include('partials/nav')%>
    <h1> <%= name %> </h1>
    <img src=<%= picture %> />
    <p> <%= location %> </p>
    <p> <%= email %> </p>
    <p> <%= age %> </p>
    <p> <%= mobile %> </p>

    <br/>
    <button><a href="/">I dont like it give me another one</a></button>
</body>
</html>