<!DOCTYPE html>
<html>
  <head>
    <title>Soccer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

 <body>
    <div class="container">
      <nav>
        <%= link_to 'All Players', players_path %>
        <%= link_to 'New Player', new_player_path %>
        |

      </nav>
      <%= yield %>
    </div>
  </body>
</html>