<h1>Favorite Maimai Songs</h1>
<% @songs.each do |song| %>
    <table>
        <tr>
            <td>
                <img class="jacket" style="max-width: 210px; max-height: 190px;" src="<%= song["jacket"] %>">
            </td>
            <td class="song-info">
                <a class="title-link" href="/songs/<%= song["id"] %>"><%= song["title"] %></a><br/>
                <b>Artist(s):</b> <%= song["artist"] %><br/>
                <b>BPM:</b> <%= song["BPM"] %><br/>
                <b>Level:</b> <%= song["level"] %><br/>
            </td>
        </tr>
    </table><br/>
<% end %>
